In [51]:
import numpy as np
import csv
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
%matplotlib inline

In [55]:
adDataCsv = pd.read_csv('../data/Book1.csv',index_col=0)
adDataCsv.head()

   height  width  aratio
1     125    125  1.0000
2      57    468  8.2105
3      33    230  6.9696
4      60    468  7.8000
5      60    468  7.8000

In [56]:
# No of rows, No of features
adDataCsv.shape

(2376, 3)

In [57]:
lm = smf.ols(formula ='height ~ width + aratio' , data = adDataCsv).fit()
#lm = smf.ols(formula='Sales ~ Radio', data=adDataCsv).fit()

lm.params

Intercept    52.625090
width         0.195666
aratio       -4.860464
dtype: float64